.chapters {
	background-color: #faf7fb;
	padding-top: 40px;
	padding-bottom: 40px;
}

.chapters-inner {
	max-width: 724px;
	padding: 0 $spacing-scale-3;
	margin: 0 auto;
}

.chapters h2 {
	@include typography(body);
	text-transform: uppercase;
	letter-spacing: 0.03em;
	color: #7d5a88;
	margin-bottom: $spacing-scale-1;
	@include mq($from: md) {
		margin-bottom: $spacing-scale-2;
	}
}

.chapters ol {
	margin-left: $spacing-scale-3;
	@include typography(body);
}

.chapters a {
	text-decoration: none;
}

.chapters [aria-current=true] {
	font-weight: bold;
}