$colour-black: #222222;
$colour-grey: #666;
$colour-white: #fff;
$colour-grey-light: #fafafa;

$colour-purple: #8E55A9;
$colour-purple-light: #faf7fb;
$colour-purple-dark: #6e4284;
$colour-orange: #ff851b;