main {
	padding-top: $spacing-scale-5;
	max-width: 724px;
	margin-left: auto;
	margin-right: auto;
	padding-left: $spacing-scale-3;
	padding-right: $spacing-scale-3;
}

.chapterNumber {
	color: $colour-grey-600;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	font-weight: bold;
	margin-bottom: 5px;
	display: block;
}

main h1 {
	@include typography(xl);
	margin-bottom: $spacing-scale-3;
	color: $colour-grey-900;
}

main h2 {
	@include typography(l);
	margin-bottom: $spacing-scale-1;
	margin-top: $spacing-scale-2;
	color: $colour-grey-900;
	@include mq($from: md) {
		// margin-bottom: $spacing-scale-2;
	}
}

main h3 {
	@include typography(body);
	margin-bottom: $spacing-scale-1;
	color: $colour-grey-900;
	@include mq($from: md) {
		// margin-bottom: $spacing-scale-2;
	}
}

main p {
	@include typography(body);
	margin-bottom: $spacing-scale-4;
	color: $colour-grey-900;
}

main ol,
main ul {
	margin-bottom: $spacing-scale-4;
	color: $colour-grey-900;
}

@media(min-width: 37.5em) {
	main ol,
	main ul {
		margin-bottom: $spacing-scale-5;
	}
}

main ol li,
main ul li {
	@include typography(body);
	margin-left: $spacing-scale-4;
	margin-bottom: $spacing-scale-1 / 2;
	@include mq($from: md) {
		margin-bottom: $spacing-scale-1;
	}
}

blockquote {
	font-style: italic;
	margin-bottom: $spacing-scale-4;
	color: $colour-grey-900;
}

blockquote cite {
	font-weight: bold;
}

main p code,
main ul code,
main li code {
	font-size: 1.3em;
	color: $colour-yellow-600;
}

main pre {
	overflow-x: scroll;
	font-family: Monaco,'Courier New','Courier',monospace;
	font-size: 1.2em;
	color: $colour-yellow-800;
	background-color: $colour-yellow-100;
	margin-bottom: $spacing-scale-4;
	border-left: 5px solid $colour-yellow-500;
	padding: 10px 15px;
}

@media(min-width: 37.5em) {
	main pre {
		font-size: 1.69em;
		margin-bottom: $spacing-scale-5;
	}
}