.footer {
	padding: $spacing-scale-3;
	overflow: hidden;
}

.footer-inner {
	max-width: 724px;
	padding: 0 $spacing-scale-3;
	margin: 0 auto;
}

.footer p {
	color: $colour-black;
	font-size: 0.94em;
}

.footer a {
	color: $colour-black;
}