body {
	border-top: 6px solid $colour-purple;
	font-family: 'Roboto', helvetica, arial, sans-serif;
	font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Fira Sans,sans-serif!important;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
}

a:link,
a:visited {
	color: $colour-black;
}

a:hover,
a:focus {
	text-decoration: none;
}

a:focus {
	outline: 3px solid $colour-orange;
	outline-offset: 0px;
}