<div class="subscribeForm">
	<form action="//adamsilver.us9.list-manage.com/subscribe/post?u=b8fb04f39bf86109693e00ba5&amp;id=441c045a36" method="post">
		<input type="hidden" name="b_b8fb04f39bf86109693e00ba5_441c045a36" value="">
		<input type="hidden" name="SITE" value="{{site.url}}">
		<input type="hidden" name="LOCATION" value="{{page.url}}">
		<label for="mce-EMAIL" class="subscribeForm-label">Your email address</label>
		<input type="email" name="EMAIL" id="mce-EMAIL" class="subscribeForm-email" required><input class="subscribeForm-button" type="submit" value="Join 2,000+ others" name="subscribe">
	</form>
</div>