.footer {
	padding: $spacing-scale-3;
	overflow: hidden;
}

.footer-inner {
	max-width: 724px;
	margin: 0 auto;
	@include mq($from: lg) {
		padding: 0 $spacing-scale-3;
	}
}

.footer p {
	color: $colour-grey-900;
	font-size: 0.94em;
}

.footer a {
	color: $colour-grey-900;
}