<footer class="footer">
	<div class="footer-inner">
		<p>Written by <a href="https://adamsilver.io/">Adam Silver</a>, an interaction designer from London, UK. <a href="https://github.com/adamsilver/maintainablecss.com/">Contribute on GitHub</a>.</p>
	</div>
</footer>
